{% extends "../base.html" %}
{% block title %}blog titles{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
    <h1>我的博客</h1>
    </div>
    <div class="row">
    <div class="col-xs-12 col-md-8">
        <ul>
           {% for blog in blogs %}
               <li><h2><a href="{{ blog.id }}">{{ blog.title }}</a></h2>
            </li>
            {% endfor %}
        </ul>
    </div>
    <br />
    <br />
    <div class="col-xs-6 col-md-4">
        <h2>广告位</h2>
        <p>跟老七学：www.itdiffer.com<img width="200px" src="../../static/images/baidu.png"></p>

    </div>
    <br />
    <br />
    </div>
{% endblock %}
